{% include 'stock_app/partials/header.html' %}
{% include 'stock_app/partials/navbar.html' %}
{% load static %}

{% block content %}
    <div class="container text-center col-12">
        <div class="main-w3layouts wrapper">
            <div class="main-agileinfo">
                <div class="agileits-top">
                    <h3>Enter new password</h3>

                    <p>Please, enter your new password twice so, we can verify you typed it in correctly</p>

                    <form method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <input class="btn btn-success mt-5" type="submit" value="Update Password">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}