{% include 'stock_app/partials/header.html' %}
{% include 'stock_app/partials/navbar.html' %}
{% load static %}

{% block content %}
    <div class="text-center">
        <h1>Reset Password</h1>

        <form action="" method="POST">
            {% csrf_token %}

            <input class="text" type="email" name="email" placeholder="Type your email here" required/>

            <input type="submit" value="Send Email" class="btn btn-success">
        </form>
        <p>Don't have an Account? <a href="{% url 'register' %}">
            Register Now!</a>
        </p>
        <p>You want to Log in? <a href="{% url 'login' %}">Login!</a>
        </p>


    </div>
    {% include 'stock_app/partials/footer.html' %}

    {% include 'stock_app/partials/scripts.html' %}
{% endblock %}
