{% load static %}
{% include 'stock_app/partials/header.html' %}
{% include 'stock_app/partials/navbar.html' %}

{% if user.is_authenticated and user.is_staff %}
    <div class="col-4 offset-4 mb-5 mt-5">
        <h3>{{ title }} Picture</h3>
        <form method="POST" action="." enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_table }}
            <button class="btn btn-success my-3" type="submit">Add Picture</button>
        </form>
    </div>
{% else %}

    <h1 class="text-center mt-5">Sorry sir, but you are not allowed to be here!</h1>
{% endif %}
{% include 'stock_app/partials/footer.html' %}