{% load static %}
{% include 'stock_app/partials/header.html' %}
{% include 'stock_app/partials/navbar.html' %}
<div id="fh5co-page mt-5">
    <div id="fh5co-intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center animate-box">
                    <h2 class="intro-heading">{{ pict_detailed.title }} Detail</h2>
                    <p><span>Created with <i class="icon-heart3 text-danger"></i> with Love at <a
                            href="#">DonHardy</a></span></p>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-services-section">
        <div class="container">
            <div class="card mb-3">
                <img class="card-img-top img-card-detailed" src="{{ pict_detailed.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold; font-size: 20px">
                        <i class="bi bi-geo-alt text-danger"></i> {{ pict_detailed.title|upper }}</h5>
                    <p class="card-text">{{ pict_detailed.description }}</p>
                    <p class="card-text">
                        <small class="text-muted">
                            {{ pict_detailed.date_created }}</small>
                    <form action="{% url 'like' pict_detailed.id %}" method="POST">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                            {% if not liked %}
                                <span class="float-right mx-3 my-3"
                                      style="display: inline-block;">{{ pict_detailed.total_likes }}</span>
                                <button type="submit" value="{{ pict_detailed.id }}"
                                        class=" float-right rotated" title="Like" name="picture_liked">
                                    Like
                                </button>
                            {% else %}
                                <button type="submit" value="{{ pict_detailed.id }}"
                                        class="noselect float-right rotated" title="Like" name="picture_liked">
                                    Unlike
                                </button>
                            {% endif %}
                        {% endif %}
                    </form>

                    </p>
                </div>
                <a href="{% url 'gallery' %}" type="button" class="btn btn-warning float-right">Back To Gallery</a>

            </div>
        </div>
    </div>
    {% include 'stock_app/partials/footer.html' %}
</div>
{% include 'stock_app/partials/scripts.html' %}

