{% load static %}
{% include 'stock_app/partials/header.html' %}
{% include 'stock_app/partials/navbar.html' %}

<div id="fh5co-page">
    <div id="fh5co-intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center animate-box">
                    <h2 class="intro-heading">Our Gallery &amp; Collection</h2>
                    <p><span>Created with <i class="icon-heart3 text-danger"></i> with Love <a
                            href="#">DonHardy</a></span></p>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-photos-section">
        <div class="container">
            <div class="row text-center">
                {% for picture in pictures %}

                    <div class="card border-info img-card">
                        <a href="{% url 'detail' picture.id %}">
                            <img class="card-img-top" src="{{ picture.image.url }}"
                                 style="width: 240px; height: 280px"
                                 alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <a href="{% url 'detail' picture.id %}" class="card-title">
                                {{ picture.title|upper }}</a><br>
                        </div>

                        <form action="{% url 'like' picture.id %}" method="POST">
                            {% csrf_token %}
                            {% if user.is_authenticated %}
                                {% if not liked %}
                                    <button type="submit" value="{{ picture.id }}"
                                            class="btn btn-success mb-3" title="Like" name="picture_liked">
                                        Like
                                    </button>
                                {% else %}
                                    <button type="submit" value="{{ picture.id }}"
                                            class="btn btn-warning mb-3" title="Like" name="picture_liked">
                                        Unlike
                                    </button>
                                {% endif %}
                            {% endif %}
                        </form>

                        {% if user.is_staff %}
                            <a href="#" type="submit" class="mx-3 float-right">
                                <i class="bi bi-pencil-square text-success"></i></a>
                            <a href="{% url 'delete' picture.id %}" type="submit" class="mx-3 float-right">
                                <i class="bi bi-trash3-fill text-danger"></i></a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'stock_app/partials/footer.html' %}
</div>

{% include 'stock_app/partials/scripts.html' %}



