{% load static %}
{% include 'stock_app/partials/header.html' %}
<body>
{% include 'stock_app/partials/navbar.html' %}
<div id="fh5co-page">

    <div id="fh5co-intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center animate-box">
                    <h2 class="intro-heading">Our Gallery &amp; Collection</h2>
                     <p><span>Created with <i class="icon-heart3 text-danger"></i> with Love <a
                            href="#">DonHardy</a></span></p>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-photos-section">
        <div class="container">
            <div class="row text-center">
                <div class="card border-info img-card">
                    <img class="card-img-top" src="{% static 'images/background.jpeg' %}"
                         alt="Card image cap">
                    <div class="card-body">
                        <a href="{% url 'home' %}" class="card-title float-left">Card title</a>
                        <a href="#" type="submit" class="btn btn-info float-right mb-4">Like</a>
                    </div>
                </div>
                <div class="card border-info img-card">
                    <img class="card-img-top" src="{% static 'images/background.jpeg' %}"
                         alt="Card image cap">
                    <div class="card-body">
                        <a href="{% url 'home' %}" class="card-title float-left">Card title</a>
                        <a href="#" type="submit" class="btn btn-info float-right mb-4">Like</a>
                    </div>
                </div>
                <div class="card border-info img-card">
                    <img class="card-img-top" src="{% static 'images/background.jpeg' %}"
                         alt="Card image cap">
                    <div class="card-body">
                        <a href="{% url 'home' %}" class="card-title float-left">Card title</a>
                        <a href="#" type="submit" class="btn btn-info float-right mb-4">Like</a>
                    </div>
                </div>
                <div class="card border-info img-card">
                    <img class="card-img-top" src="{% static 'images/background.jpeg' %}"
                         alt="Card image cap">
                    <div class="card-body">
                        <a href="{% url 'home' %}" class="card-title float-left">Card title</a>
                        <a href="#" type="submit" class="btn btn-info float-right mb-4">Like</a>
                    </div>
                </div>
                <div class="card border-info img-card">
                    <img class="card-img-top" src="{% static 'images/background.jpeg' %}"
                         alt="Card image cap">
                    <div class="card-body">
                        <a href="{% url 'home' %}" class="card-title float-left">Card title</a>
                        <a href="#" type="submit" class="btn btn-info float-right mb-4">Like</a>
                    </div>
                </div>
                <div class="card border-info img-card">
                    <img class="card-img-top" src="{% static 'images/background.jpeg' %}"
                         alt="Card image cap">
                    <div class="card-body">
                        <a href="{% url 'home' %}" class="card-title float-left">Card title</a>
                        <a href="#" type="submit" class="btn btn-info float-right mb-4">Like</a>
                    </div>
                </div>
                <div class="card border-info img-card">
                    <img class="card-img-top" src="{% static 'images/background.jpeg' %}"
                         alt="Card image cap">
                    <div class="card-body">
                        <a href="{% url 'home' %}" class="card-title float-left">Card title</a>
                        <a href="#" type="submit" class="btn btn-info float-right mb-4">Like</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'stock_app/partials/footer.html' %}
</div>

{% include 'stock_app/partials/scripts.html' %}

</body>
</html>

