{% load static %}
{% include 'stock_app/partials/header.html' %}
<body>
{% include 'stock_app/partials/navbar.html' %}
<div id="fh5co-page">
    <div id="fh5co-intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 animate-box text-center">
                    <h2 class="intro-heading">
                        The best Photography site</h2>
                    <p><span>Created with <i class="icon-heart3 text-danger"></i> with Love <a
                            href="#">Don Hardy</a></span></p>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-photos-section">
        <div class="container">
            <div id="ri-grid" class="ri-grid animate-box">
                <img class="ri-loading-image" src="{% static 'images/loading.gif' %}" alt="no-img"/>
                <ul>
                    {% for pict in pictures %}
                        <li>
                            <a href="{% url 'gallery' %}">
                                <img src="{{ pict.image.url }}" alt="no-img"/>
                                <div class="desc">
                                    <h3>Album<br><span>{{ pict.title }}</span></h3>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div id="fh5co-services-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center animate-box ">
                    <div class="heading-section">
                        <h2>Our Services</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
                        <span><i class="icon-video-camera2"></i></span>
                        <h3>Collect Video</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                            Semantics.</p>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
                        <span><i class="icon-cloud-download"></i></span>
                        <h3>Download Photos</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                            Semantics.</p>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
                        <span><i class="icon-home3"></i></span>
                        <h3>Capture Photos</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                            Semantics.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fh5co-counters" style="background-image: url({% static 'images/shutterstock.jpeg' %});"
         data-stellar-background-ratio="0.5" id="counter-animate">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center animate-box">
                <div class="heading-section">
                    <h2>Fun Facts</h2>
                </div>
            </div>
        </div>
        <div class="fh5co-narrow-content animate-box">
            <div class="row">
                <div class="col-md-4 text-center">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="130" data-speed="5000"
                          data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">Client</span>
                </div>
                <div class="col-md-4 text-center">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="{{ pictures_count }}" data-speed="5000"
                          data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">Photos</span>
                </div>
                <div class="col-md-4 text-center">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="7497" data-speed="5000"
                          data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">Pixels</span>
                </div>
            </div>
        </div>
    </div>
    {% include 'stock_app/partials/footer.html' %}
</div>

{% include 'stock_app/partials/scripts.html' %}
<script type="text/javascript">
    $(function () {

        $('#ri-grid').gridrotator({
            rows: 3,
            // number of columns
            columns: 6,
            w1024: {rows: 3, columns: 5},
            w768: {rows: 3, columns: 4},
            w480: {rows: 3, columns: 3},
            w320: {rows: 2, columns: 2},
            w240: {rows: 1, columns: 1},
            preventClick: false
        });

    });
</script>

</body>
</html>

